In [135]:
import numpy as np
import scipy

In [149]:
ff_3 = pd.read_csv('F-F_Research_Data_Factors_daily.csv', parse_dates=['Date']).set_index('Date')
ff_4th = pd.read_csv('F-F_Momentum_Factor_daily.csv', parse_dates=['Date']).set_index('Date')
ff_4 = ff_3.join(ff_4th, how='right') / 100  
all_rets = pd.read_csv('DailyPrices.csv', parse_dates=['Date']).set_index('Date')
stocks = ['AAPL', 'META', 'UNH', 'MA',  
          'MSFT' ,'NVDA', 'HD', 'PFE',  
          'AMZN' ,'BRK-B', 'PG', 'XOM',  
          'TSLA' ,'JPM' ,'V', 'DIS',  
          'GOOGL', 'JNJ', 'BAC', 'CSCO']
factors = ['Mkt-RF', 'SMB', 'HML', 'mom']
dataset = all_rets[stocks].join(ff_4)
dataset = dataset.loc['2022-2-14':'2023-1-31']
nan_mask = np.isnan(dataset)
inf_mask = np.isinf(dataset)
nan_rows, nan_cols = np.where(nan_mask)
inf_rows, inf_cols = np.where(inf_mask)
if len(nan_rows) > 0:
    print(f"Missing values in rows: {set(nan_rows)}")
if len(nan_cols) > 0:
    print(f"Missing values in columns: {set(nan_cols)}")
if len(inf_rows) > 0:
    print(f"Infinite values in rows: {set(inf_rows)}")
if len(inf_cols) > 0:
    print(f"Infinite values in columns: {set(inf_cols)}")

            Mkt-RF     SMB     HML       RF     mom
Date
1926-11-03  0.0020 -0.0020 -0.0033  0.00013  0.0056
1926-11-04  0.0059 -0.0012  0.0065  0.00013 -0.0050
1926-11-05  0.0007 -0.0011  0.0026  0.00013  0.0117
1926-11-06  0.0016 -0.0029  0.0005  0.00013 -0.0003
1926-11-08  0.0052 -0.0012  0.0018  0.00013 -0.0001
...            ...     ...     ...      ...     ...
2023-01-25  0.0000 -0.0004  0.0065  0.00017  0.0014
2023-01-26  0.0108 -0.0058  0.0001  0.00017 -0.0123
2023-01-27  0.0036  0.0062 -0.0116  0.00017 -0.0246
2023-01-30 -0.0138 -0.0010  0.0072  0.00017  0.0136
2023-01-31  0.0157  0.0099 -0.0006  0.00017 -0.0070

[25318 rows x 5 columns]